@model IEnumerable<University>
@using MVCApp.Utilities

@{
    ViewBag.Title = "Universities";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string currentSort = ViewBag.CurrentSort;

    if (string.IsNullOrEmpty(currentSort))
    {
        currentSort = "universityName";
    }
}

<h2>Universities</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("University Name", "Index", Request.QueryString.ToRouteValueDictionary("sortOrder", (string)ViewBag.UniversityNameSortParam))
            @Html.SortIdentifier(currentSort, "universityName")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityName)
            </td>
            <td>
                @Html.ActionLink("Courses", "Courses", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
$(document).ready(function()
{
  $("tr:even").css("background-color", "white");
  $("tr:odd").css("background-color", "azure");
});
</script>